<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <!-- grab Spring's configuration in case we want to take advantage of some of its features -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- required to ensure that bridging from java.util.logging does not cause a 20% performance hit -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <!-- 12 Factor says only log to STDOUT and STDERR and let the process manager worrying about sending it to the aggregator. -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeContext>false</includeContext>
            <timeZone>UTC</timeZone>
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <message>message</message>
                <logger>component</logger>
                <version>[ignore]</version>
                <thread>[ignore]</thread>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
        </encoder>
    </appender>


    <!-- Spring profile-specific settings -->
    <springProfile name="default">
        <logger name="com.example" level="ALL"/>
        <logger name="org.springframework" level="INFO"/>
    </springProfile>

    <springProfile name="test">
        <logger name="com.example" level="INFO"/>
        <logger name="org.springframework" level="INFO"/>
    </springProfile>

    <springProfile name="production">
        <logger name="com.example" level="WARN"/>
        <logger name="org.springframework" level="WARN"/>
    </springProfile>

    <!-- read the value from the Spring environment, using a default if not specified -->
    <springProperty scope="context" name="queueSize" source="service.logging.queueSize" defaultValue="1024"/>

    <!-- handles sending messages using background threads -->
    <appender name="ASYNC-CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <!-- The maximum capacity of the blocking queue. By default, queueSize is set to 256. -->
        <queueSize>${queueSize}</queueSize>
        <appender-ref ref="CONSOLE"/>
    </appender>

    <root level="WARN">
        <appender-ref ref="ASYNC-CONSOLE"/>
    </root>
</configuration>